@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body{
    font-family: Poppins, sans-serif;
    background-image: url('https://img.freepik.com/free-vector/white-abstract-background_23-2148817571.jpg');
    /* https://i.pinimg.com/originals/9c/98/22/9c9822a872aadcc57e2dfb3be7866780.gif */
    background-size: cover;
    backdrop-filter: blur(5px);
    animation: fadein 3s;
}
.container{
    border-radius: 20px;
    margin: 1%;
    background-color: rgba(255, 255, 255, 0.7);
}
header > p{
    margin-top: -1%;
    font-size: 7vmin;
    font-weight: bold;
    margin-bottom: -2%;
}
header{
        width: 70vw;
display: inline-block;
text-align: left;
}
.ebooks{
    width:40vmax;
        background-color: white;
display: inline-block;
  margin: 2%;
    text-align: left;
    border-radius:20px;
      animation: fadein 1s;
      box-shadow: 3px 4px 5px #c2c2c2;
      transition:.7s;
}
.ebooks:hover{
    transform:scale(103%);
          box-shadow: 4px 5px 6px #c2c2c2;
transition:.7s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.bookthumbnail {
  aspect-ratio: 5/8;
  object-fit: cover;
  object-position: center;
      width:32%;
      border: 1px solid grey;
      border-radius:10px;
      margin:5%;
    margin-right:2%;

}
.bookbody{
    display: inline-block;
    width:52%;
    height:40vmin;
    margin:3% 3% 0 1%;
    overflow-y: scroll;
}
.slno{
    font-size:2vmin;
    background-color:yellow;
    color:black;
    border-radius:20px;
    padding:1% 3% 1% 3%;
}
.bookabout{
    margin-bottom: 5%;
  font-size: 2vmin;
}

.bookbutton{
    font-size:2.7vmin;
    color:white;
    background-color:#4aa4ff;
    border-radius:10px;
    padding:2% 4% 2% 4%;
    margin:1%;
    border-style:none;
}
.bookbutton:hover{
    opacity:.7;
}
a.backlink{
    text-decoration:none;
    font-size:2.7vmin;
    color:rgba(44, 44, 44,0.6);
}
form{
    display: inline;
}