nav {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2.2vmin;
  padding: 1% 2% 1% 2%;
  background-color: rgb(47, 47, 47);
}

.navitem,
.ed {
  float: right;
  margin-left: 4%;
  color: white;
  opacity: 0.7;
  text-decoration: none;
}

.navitem:hover {
  opacity: 0.5;
}

.container {
  display: inline-block;
  padding-top: 10px;
}

.typewriter {
  font-size: 16vmin;
  width: 75vmin;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .1em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  animation:
    typing 1.5s steps(9),
    blink-caret .8s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  50% {
    border-color: transparent
  }
}

#searchbox {
  padding-top: 5px;
  padding-bottom: 20px;
}

#searchbox input {
  width: 63%;
  height: 50px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(244, 244, 244);
  border-radius: 30px 30px 30px 30px;
}

#searchbox button {
  height: 50px;
  border-radius: 30px 30px 30px 30px;
}

.ebooks {
  display: inline-block;
  margin: 2% 3% 2% 3%;
  width: 25vmin;
  height: 10%;
  text-align: center;
  font-size: 70%;
}

.ebooks:hover {
opacity: 0.8;
}

#bookssuggestion {
  padding: 0 10% 5% 10%;
}

.bookthumbnail {
  aspect-ratio: 5/8;
  object-fit: cover;
  object-position: center;
}

.fadein {
  animation: fadein 2s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* for cards */
.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 12px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

.cards {
  width: 45vmin;
  height: 40vmin;
  background-color: white;
  font-size: 2.5vmin;
  display: inline-block;
  margin: 3% 3% 4% 3%;
  border-radius: 50px 50px 50px 50px;
  border-style: hidden;
  border-width: 2px;
  box-shadow: 2px 6px 3px black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


p.cardtext {
  margin-top: 5%;
  margin-bottom: 10%;
  width: 100%;
}

.cards:hover {
  transition: 0.3s;
  transform: scale(103%);
  box-shadow: 5px 6px 6px black;
}

.cardbotton {
  padding: 4% 7% 5% 7%;
  border-radius: 50px 50px 50px 50px;
  text-decoration: none;
}

.card-imgtop {
  width: 10vmin;
  height: 10vmin;
  aspect-ratio: 2/2;
  object-fit: cover;
  object-position: center;
}

.cardbotton:hover {
  opacity: 0.8;
}

/* faq */
#faq {
  padding: 4% 6% 5% 6%;
  margin: 0 2% 0 2%;
}

/* footer */
footer {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.aboutus {
  text-align: left;
  display: inline-block;
  font-size: 2.4vmin;
  margin-top: 3%;
}

.endline {
  text-align: left;
  font-size: 1.8vmin;
  padding-top: 1%;
  width: 85%
}