 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

        body {
            background-image: url(https://static.toiimg.com/photo/105046079.cms);
            background-size: cover;
            font-family: Poppins, sans-serif;
            background-color: black;
        }

        #report {
            margin-top: 6%;
            text-align: center;
            width: 40vw;
            min-width: 300px;
            background-color: rgba(0, 0, 0, 0.362);
            backdrop-filter: blur(5px);
            border-radius: 25px;
            padding: 15px;
        }

        .inputs {
            width: 35vw;
            min-width: 250px;
            margin-bottom: 7%;
            height: 35px;
            border-radius: 10px;
            border: none;
            background-color: rgb(255, 255, 255);
        }

        #report>label {
            display: block;
            font-weight: bold;
            text-align: left;
            margin-left: 7%;
            margin-bottom: 2%;
            font-size: 15px;
            color: white;
        }

        #report>textarea {
            width: 35vw;
            min-width: 250px;
            height: 80px;
            border-radius: 10px;
            border: none;
        }

        #report>button {
            display: inline;
            margin: 5%;
            padding: 7px;
            border-radius: 12px;
            background-color: orange;
            color: white;
            border: none;
        }
        header{
            color: white;
            text-align: left;
            width: 35vw;
            min-width: 250px;
            margin-left: 6%;
            }
        h1{
            font-weight: lighter;
            letter-spacing: 2px;
            text-align: left;
        }
        p{
            opacity: 0.8;
        }