  /* for signup page */
  .heading{
    color: rgba(255, 255, 255, 0.7); 
    font-weight: 300 ; 
    margin-bottom: 6%; 
    margin-top: 2%;
    font-size: 6vmin;
  }


  body {
    background-image: url(https://static.toiimg.com/photo/105046079.cms);
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .bg {
    display:inline-block;
    background-color: rgba(0, 0, 0, .5);
    width: 60vw;
    min-width: 300px;       
    padding: 3% 10% 3% 10%;
    margin: 3% 2% 3% 2%;
    border-radius: 40px;
    backdrop-filter: blur(5px);
  }
  .txt{
    color: white; 
    margin-top: 5%;
    font-size: 2.5vmin;
  }
  .txt > a{
    text-decoration: none; 
    color: rgb(134, 170, 255);
  }
  button {
    margin-top: .5%;
    margin-bottom: 3%;
    color: white; 
    background-color: orange; 
    padding: 8px 12px; 
    border-radius: 25px;
    border-style: hidden;
    font-size: 2.3vmin;
  }

  button:hover,
  a:hover {
    opacity: 0.8;
  }  /* for signup page */
  .heading{
    color: rgba(255, 255, 255, 0.7); 
    font-weight: 300 ; 
    margin-bottom: 6%; 
    margin-top: 2%;
    font-size: 6vmin;
  }


  body {
    background-image: url(https://static.toiimg.com/photo/105046079.cms);
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .bg {
    display:inline-block;
    background-color: rgba(0, 0, 0, .5);
    width: 60%;
    padding: 3% 10% 3% 10%;
    margin: 3% 2% 3% 2%;
    border-radius: 40px;
    backdrop-filter: blur(5px);
  }
  .txt{
    color: white; 
    margin-top: 5%;
    font-size: 2.5vmin;
  }
  .txt > a{
    text-decoration: none; 
    color: rgb(134, 170, 255);
  }
  button {
    margin-top: .5%;
    margin-bottom: 3%;
    color: white; 
    background-color: orange; 
    padding: 1% 2% 1% 2%; 
    border-radius: 35px; 
    border-style: hidden;
    font-size: 2.3vmin;
  }

  button:hover,
  a:hover {
    opacity: 0.8;
  }  /* for signup page */
  .heading{
    color: rgba(255, 255, 255, 0.7); 
    font-weight: 300 ; 
    margin-bottom: 6%; 
    margin-top: 2%;
    font-size: 6vmin;
  }


  body {
    background-image: url(https://static.toiimg.com/photo/105046079.cms);
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .bg {
    display:inline-block;
    background-color: rgba(0, 0, 0, .5);
    width: 60%;
    padding: 3% 10% 3% 10%;
    margin: 3% 2% 3% 2%;
    border-radius: 40px;
    backdrop-filter: blur(5px);
  }
  .txt{
    color: white; 
    margin-top: 5%;
    font-size: 2.5vmin;
  }
  .txt > a{
    text-decoration: none; 
    color: rgb(134, 170, 255);
  }
  button {
    margin-top: .5%;
    margin-bottom: 3%;
    color: white; 
    background-color: orange; 
    padding: 1% 2% 1% 2%; 
    border-radius: 35px; 
    border-style: hidden;
    font-size: 2.3vmin;
  }

  button:hover,
  a:hover {
    opacity: 0.8;
  }